.story_container {
    margin: auto;
    display: flex;
    width: 90%;
}

.story_img {
    min-width: 901;
    min-height: 811;
}
.story_img img{
    display: none;
    position: relative;
}

.story_choise {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
}

.story_choise button {
    border: white;
    border-width: 1px;
    margin-top: 3px;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    width: 100%;    
}

.story_choise div {
    font-size: 18px;
    color: black;
    text-align: center;
}

.chat_container {
    width: 300px;   
    padding: 5px;
    background: white;
    border-color: green;
    position: absolute;
    top: 0px;
    border-radius: 20px;
    border-width: 2px;
    border-style: solid;
    height: 20px;
    transition: all .5s ease-in-out;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
#chat_content {
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    white-space: pre-wrap;
    text-align: left;
}

#chat_content pre {
    white-space: pre-wrap;
}

.chat_container input {
    width: 100%;
    margin-bottom: 8px;
    margin-top: 8px; 
}

.chat_container:hover {
    height: 300px;
}

#thanks {
    font-style: italic;
    font-weight: bold;
    margin-top: 20px;    
    display: none;
}

#story_btn_choise1 {
    background-color: #ffaa51;
}

#story_btn_choise2 {
    background-color: #4CAF50;
}

#story_btn_choise1:hover{
    background-color: orange;
}

#story_btn_choise2:hover{
    background-color: green;
}